<h1>Yanel Serret's Component</h1>

<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<table class="center">
  <tr>
    <th><button type="button" onclick="alert('Hi!')">Click Me!</button></th>
    <th><button type="button" onclick="alert('Hi!')">Click Me!</button></th>
    <th><button type="button" onclick="alert('Hi!')">Click Me!</button></th>
  </tr>
  <tr>
    <td><button type="button" onclick="alert('Hi!')">Click Me!</button></td>
    <td><button type="button" onclick="alert('Hi!')">Click Me!</button></td>
    <th><button type="button" onclick="alert('Hi!')">Click Me!</button></th>
  </tr>

</table>